# Introduction to Preliminary Global Extraction, Transformation, and Loading (ETL) Process
In this notebook, we embark on the initial stages of the Extraction, Transformation, and Loading (ETL) process by retrieving data from a client-provided source. This extracted data will form the foundation for subsequent analysis and processing, ultimately guiding us to deliver the final product in alignment with the client's requirements. To streamline this process, we utilize a suite of specialized libraries that enable us to extract, transform, and organize the data efficiently.

Our approach prioritizes clarity and simplicity in the implementation of code. We achieve this by minimizing the number of action cells and focusing on concise, well-documented functions. Where necessary, we provide detailed comments to facilitate understanding and collaboration throughout the ETL process.

The structure of this notebook is modular, taking inspiration from the Model-View-Controller (MVC) design pattern. The sections are organized as follows:

1. **Data Extraction Function**: (In the Extraction process notebook)

2. **Transform Functions**: Here, we define the function responsible for transform data in .parquet files for better work.

3. **Load data**: This part we define the function responsible for load data in parquet format to the lakehouse.

We refer to this systematic approach as the Library-Action-View (LAV) paradigm, reflecting our commitment to efficiency and organization in executing the ETL process.

In [1]:
pip install pyarrow

StatementMeta(, 84fd80d2-7a71-4844-803a-cfc72e82de8f, 3, Finished, Available, Finished)

Requirement already satisfied: pyarrow in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (12.0.1)
Requirement already satisfied: numpy>=1.16.6 in /home/trusted-service-user/cluster-env/trident_env/lib/python3.10/site-packages (from pyarrow) (1.24.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import builtin.utils as ut

StatementMeta(, 84fd80d2-7a71-4844-803a-cfc72e82de8f, 4, Finished, Available, Finished)

In [3]:
# Load files in dataframes
main_folder_path = '/lakehouse/default/Files/Original' 
dicc = ut.load_files_to_dataframe(main_folder_path)

# Save dataframes as parquet files
subfolder_name = 'Data_Parquet'
ut.dataframe_to_parquet(dicc, subfolder_name)

StatementMeta(, 84fd80d2-7a71-4844-803a-cfc72e82de8f, 5, Finished, Available, Finished)

File Console_sales successfully loaded.
File Indicadores_del_desarrollo_humano_mundial Banco Mundial successfully loaded.
File Juegos en steam successfully loaded.
File Video Games Sales successfully loaded.
Failed to load full JSON from /lakehouse/default/Files/Original/steam_games.json. Trying line-by-line methods.
Failed to parse JSON with ast.literal_eval for /lakehouse/default/Files/Original/steam_games.json. Trying normalization.
File steam_games successfully loaded.
Failed to load full JSON from /lakehouse/default/Files/Original/user_reviews.json. Trying line-by-line methods.
File user_reviews successfully loaded.
Failed to load full JSON from /lakehouse/default/Files/Original/users_items.json. Trying line-by-line methods.
File users_items successfully loaded.
Dataframe saved successfully at /lakehouse/default/Files/Data_Parquet/Console_sales.parquet
Error saving DataFrame at /lakehouse/default/Files/Data_Parquet/Indicadores_del_desarrollo_humano_mundial Banco Mundial.parquet: ("Could not convert '..' with type str: tried to convert to double", 'Conversion failed for column 2000 [YR2000] with type object')
Converting problematic columns to string and retrying...
Column '2000 [YR2000]' converted to string.
Column '2001 [YR2001]' converted to string.
Column '2002 [YR2002]' converted to string.
Column '2003 [YR2003]' converted to string.
Column '2004 [YR2004]' converted to string.
Column '2005 [YR2005]' converted to string.
Column '2006 [YR2006]' converted to string.
Column '2007 [YR2007]' converted to string.
Column '2008 [YR2008]' converted to string.
Column '2009 [YR2009]' converted to string.
Column '2010 [YR2010]' converted to string.
Column '2011 [YR2011]' converted to string.
Column '2012 [YR2012]' converted to string.
Column '2013 [YR2013]' converted to string.
Column '2014 [YR2014]' converted to string.
Column '2015 [YR2015]' converted to string.
Column '2016 [YR2016]' converted to string.
Column '2017 [YR2017]' converted to string.
Column '2018 [YR2018]' converted to string.
Column '2019 [YR2019]' converted to string.
Dataframe saved successfully after converting problematic columns to string at /lakehouse/default/Files/Data_Parquet/Indicadores_del_desarrollo_humano_mundial Banco Mundial.parquet
Dataframe saved successfully at /lakehouse/default/Files/Data_Parquet/Juegos en steam.parquet
Dataframe saved successfully at /lakehouse/default/Files/Data_Parquet/Video Games Sales.parquet
Error saving DataFrame at /lakehouse/default/Files/Data_Parquet/steam_games.parquet: ("Could not convert 'Free To Play' with type str: tried to convert to double", 'Conversion failed for column price with type object')
Converting problematic columns to string and retrying...
Column 'price' converted to string.
Dataframe saved successfully after converting problematic columns to string at /lakehouse/default/Files/Data_Parquet/steam_games.parquet
Dataframe saved successfully at /lakehouse/default/Files/Data_Parquet/user_reviews.parquet
Dataframe saved successfully at /lakehouse/default/Files/Data_Parquet/users_items.parquet

In [4]:
folder_path = '/lakehouse/default/Files/Data_Parquet' 
ut.data_summ_on_parquet(folder_path)

StatementMeta(, 84fd80d2-7a71-4844-803a-cfc72e82de8f, 6, Finished, Available, Finished)

Console_sales Summary

Total rows:  84

Total full null rows:  0
 Column         Data_type  No_miss_Qty  %Missing  Missing_Qty
   Year   [<class 'int'>]           84       0.0            0
   Dato   [<class 'str'>]           84       0.0            0
Console   [<class 'str'>]           84       0.0            0
Company   [<class 'str'>]           84       0.0            0
  Sales [<class 'float'>]           84       0.0            0
=====================================
Indicadores_del_desarrollo_humano_mundial Banco Mundial Summary

Total rows:  237

Total full null rows:  0
       Column                           Data_type  No_miss_Qty  %Missing  Missing_Qty
  Series Name [<class 'str'>, <class 'NoneType'>]          234      1.27            3
  Series Code [<class 'str'>, <class 'NoneType'>]          232      2.11            5
 Country Name [<class 'str'>, <class 'NoneType'>]          232      2.11            5
 Country Code [<class 'str'>, <class 'NoneType'>]          232      2.11            5
2000 [YR2000]                     [<class 'str'>]          237      0.00            0
2001 [YR2001]                     [<class 'str'>]          237      0.00            0
2002 [YR2002]                     [<class 'str'>]          237      0.00            0
2003 [YR2003]                     [<class 'str'>]          237      0.00            0
2004 [YR2004]                     [<class 'str'>]          237      0.00            0
2005 [YR2005]                     [<class 'str'>]          237      0.00            0
2006 [YR2006]                     [<class 'str'>]          237      0.00            0
2007 [YR2007]                     [<class 'str'>]          237      0.00            0
2008 [YR2008]                     [<class 'str'>]          237      0.00            0
2009 [YR2009]                     [<class 'str'>]          237      0.00            0
2010 [YR2010]                     [<class 'str'>]          237      0.00            0
2011 [YR2011]                     [<class 'str'>]          237      0.00            0
2012 [YR2012]                     [<class 'str'>]          237      0.00            0
2013 [YR2013]                     [<class 'str'>]          237      0.00            0
2014 [YR2014]                     [<class 'str'>]          237      0.00            0
2015 [YR2015]                     [<class 'str'>]          237      0.00            0
2016 [YR2016]                     [<class 'str'>]          237      0.00            0
2017 [YR2017]                     [<class 'str'>]          237      0.00            0
2018 [YR2018]                     [<class 'str'>]          237      0.00            0
2019 [YR2019]                     [<class 'str'>]          237      0.00            0
=====================================
Juegos en steam Summary

Total rows:  27075

Total full null rows:  0
          Column                           Data_type  No_miss_Qty  %Missing  Missing_Qty
           appid                     [<class 'int'>]        27075      0.00            0
            name                     [<class 'str'>]        27075      0.00            0
    release_date                     [<class 'str'>]        27075      0.00            0
         english                     [<class 'int'>]        27075      0.00            0
       developer [<class 'str'>, <class 'NoneType'>]        27074      0.00            1
       publisher [<class 'str'>, <class 'NoneType'>]        27061      0.05           14
       platforms                     [<class 'str'>]        27075      0.00            0
    required_age                     [<class 'int'>]        27075      0.00            0
      categories                     [<class 'str'>]        27075      0.00            0
          genres                     [<class 'str'>]        27075      0.00            0
   steamspy_tags                     [<class 'str'>]        27075      0.00            0
    achievements                     [<class 'int'>]        27075      0.00            0
positive_ratings                     [<class 'int'>]        27075      0.00            0
negative_ratings                     [<class 'int'>]        27075      0.00            0
average_playtime                     [<class 'int'>]        27075      0.00            0
 median_playtime                     [<class 'int'>]        27075      0.00            0
          owners                     [<class 'str'>]        27075      0.00            0
           price                   [<class 'float'>]        27075      0.00            0
=====================================
Video Games Sales Summary

Total rows:  16719

Total full null rows:  0
         Column                           Data_type  No_miss_Qty  %Missing  Missing_Qty
           Name [<class 'str'>, <class 'NoneType'>]        16717      0.01            2
       Platform                     [<class 'str'>]        16719      0.00            0
Year_of_Release                   [<class 'float'>]        16450      1.61          269
          Genre [<class 'str'>, <class 'NoneType'>]        16717      0.01            2
      Publisher [<class 'str'>, <class 'NoneType'>]        16665      0.32           54
       NA_Sales                   [<class 'float'>]        15848      5.21          871
       EU_Sales                   [<class 'float'>]        15520      7.17         1199
       JP_Sales                   [<class 'float'>]        16719      0.00            0
    Other_Sales                   [<class 'float'>]        15341      8.24         1378
   Global_Sales                   [<class 'float'>]        15728      5.93          991
   Critic_Score                   [<class 'float'>]         8137     51.33         8582
   Critic_Count                   [<class 'float'>]         8137     51.33         8582
     User_Score [<class 'str'>, <class 'NoneType'>]        10015     40.10         6704
     User_Count                   [<class 'float'>]         7590     54.60         9129
      Developer [<class 'str'>, <class 'NoneType'>]        10096     39.61         6623
         Rating [<class 'str'>, <class 'NoneType'>]         9950     40.49         6769
=====================================
steam_games Summary

Total rows:  120445

Total full null rows:  0
      Column                                     Data_type  No_miss_Qty  %Missing  Missing_Qty
   publisher           [<class 'NoneType'>, <class 'str'>]        24083     80.00        96362
      genres [<class 'NoneType'>, <class 'numpy.ndarray'>]        28852     76.05        91593
    app_name           [<class 'NoneType'>, <class 'str'>]        32133     73.32        88312
       title           [<class 'NoneType'>, <class 'str'>]        30085     75.02        90360
         url           [<class 'NoneType'>, <class 'str'>]        32135     73.32        88310
release_date           [<class 'NoneType'>, <class 'str'>]        30068     75.04        90377
        tags [<class 'NoneType'>, <class 'numpy.ndarray'>]        31972     73.46        88473
 reviews_url           [<class 'NoneType'>, <class 'str'>]        32133     73.32        88312
       specs [<class 'NoneType'>, <class 'numpy.ndarray'>]        31465     73.88        88980
       price                               [<class 'str'>]       120445      0.00            0
early_access          [<class 'NoneType'>, <class 'bool'>]        32135     73.32        88310
          id           [<class 'NoneType'>, <class 'str'>]        32133     73.32        88312
   developer           [<class 'NoneType'>, <class 'str'>]        28836     76.06        91609
=====================================
user_reviews Summary

Total rows:  25799

Total full null rows:  0
  Column                 Data_type  No_miss_Qty  %Missing  Missing_Qty
 user_id           [<class 'str'>]        25799       0.0            0
user_url           [<class 'str'>]        25799       0.0            0
 reviews [<class 'numpy.ndarray'>]        25799       0.0            0
=====================================
users_items Summary

Total rows:  88310

Total full null rows:  0
     Column                 Data_type  No_miss_Qty  %Missing  Missing_Qty
    user_id           [<class 'str'>]        88310       0.0            0
items_count           [<class 'int'>]        88310       0.0            0
   steam_id           [<class 'str'>]        88310       0.0            0
   user_url           [<class 'str'>]        88310       0.0            0
      items [<class 'numpy.ndarray'>]        88310       0.0            0
=====================================

[    Column          Data_type  No_miss_Qty  %Missing  Missing_Qty
 0     Year    [<class 'int'>]           84       0.0            0
 1     Dato    [<class 'str'>]           84       0.0            0
 2  Console    [<class 'str'>]           84       0.0            0
 3  Company    [<class 'str'>]           84       0.0            0
 4    Sales  [<class 'float'>]           84       0.0            0,
            Column                            Data_type  No_miss_Qty  %Missing  \
 0     Series Name  [<class 'str'>, <class 'NoneType'>]          234      1.27
 1     Series Code  [<class 'str'>, <class 'NoneType'>]          232      2.11
 2    Country Name  [<class 'str'>, <class 'NoneType'>]          232      2.11
 3    Country Code  [<class 'str'>, <class 'NoneType'>]          232      2.11
 4   2000 [YR2000]                      [<class 'str'>]          237      0.00
 5   2001 [YR2001]                      [<class 'str'>]          237      0.00
 6   2002 [YR2002]                      [<class 'str'>]          237      0.00
 7   2003 [YR2003]                      [<class 'str'>]          237      0.00
 8   2004 [YR2004]                      [<class 'str'>]          237      0.00
 9   2005 [YR2005]                      [<class 'str'>]          237      0.00
 10  2006 [YR2006]                      [<class 'str'>]          237      0.00
 11  2007 [YR2007]                      [<class 'str'>]          237      0.00
 12  2008 [YR2008]                      [<class 'str'>]          237      0.00
 13  2009 [YR2009]                      [<class 'str'>]          237      0.00
 14  2010 [YR2010]                      [<class 'str'>]          237      0.00
 15  2011 [YR2011]                      [<class 'str'>]          237      0.00
 16  2012 [YR2012]                      [<class 'str'>]          237      0.00
 17  2013 [YR2013]                      [<class 'str'>]          237      0.00
 18  2014 [YR2014]                      [<class 'str'>]          237      0.00
 19  2015 [YR2015]                      [<class 'str'>]          237      0.00
 20  2016 [YR2016]                      [<class 'str'>]          237      0.00
 21  2017 [YR2017]                      [<class 'str'>]          237      0.00
 22  2018 [YR2018]                      [<class 'str'>]          237      0.00
 23  2019 [YR2019]                      [<class 'str'>]          237      0.00

     Missing_Qty
 0             3
 1             5
 2             5
 3             5
 4             0
 5             0
 6             0
 7             0
 8             0
 9             0
 10            0
 11            0
 12            0
 13            0
 14            0
 15            0
 16            0
 17            0
 18            0
 19            0
 20            0
 21            0
 22            0
 23            0  ,
               Column                            Data_type  No_miss_Qty  \
 0              appid                      [<class 'int'>]        27075
 1               name                      [<class 'str'>]        27075
 2       release_date                      [<class 'str'>]        27075
 3            english                      [<class 'int'>]        27075
 4          developer  [<class 'str'>, <class 'NoneType'>]        27074
 5          publisher  [<class 'str'>, <class 'NoneType'>]        27061
 6          platforms                      [<class 'str'>]        27075
 7       required_age                      [<class 'int'>]        27075
 8         categories                      [<class 'str'>]        27075
 9             genres                      [<class 'str'>]        27075
 10     steamspy_tags                      [<class 'str'>]        27075
 11      achievements                      [<class 'int'>]        27075
 12  positive_ratings                      [<class 'int'>]        27075
 13  negative_ratings                      [<class 'int'>]        27075
 14  average_playtime                      [<class 'int'>]        27075
 15   median_playtime                      [<class 'int'>]        27075
 16            owners                      [<class 'str'>]        27075
 17             price                    [<class 'float'>]        27075

     %Missing  Missing_Qty
 0       0.00            0
 1       0.00            0
 2       0.00            0
 3       0.00            0
 4       0.00            1
 5       0.05           14
 6       0.00            0
 7       0.00            0
 8       0.00            0
 9       0.00            0
 10      0.00            0
 11      0.00            0
 12      0.00            0
 13      0.00            0
 14      0.00            0
 15      0.00            0
 16      0.00            0
 17      0.00            0  ,
              Column                            Data_type  No_miss_Qty  \
 0              Name  [<class 'str'>, <class 'NoneType'>]        16717
 1          Platform                      [<class 'str'>]        16719
 2   Year_of_Release                    [<class 'float'>]        16450
 3             Genre  [<class 'str'>, <class 'NoneType'>]        16717
 4         Publisher  [<class 'str'>, <class 'NoneType'>]        16665
 5          NA_Sales                    [<class 'float'>]        15848
 6          EU_Sales                    [<class 'float'>]        15520
 7          JP_Sales                    [<class 'float'>]        16719
 8       Other_Sales                    [<class 'float'>]        15341
 9      Global_Sales                    [<class 'float'>]        15728
 10     Critic_Score                    [<class 'float'>]         8137
 11     Critic_Count                    [<class 'float'>]         8137
 12       User_Score  [<class 'str'>, <class 'NoneType'>]        10015
 13       User_Count                    [<class 'float'>]         7590
 14        Developer  [<class 'str'>, <class 'NoneType'>]        10096
 15           Rating  [<class 'str'>, <class 'NoneType'>]         9950

     %Missing  Missing_Qty
 0       0.01            2
 1       0.00            0
 2       1.61          269
 3       0.01            2
 4       0.32           54
 5       5.21          871
 6       7.17         1199
 7       0.00            0
 8       8.24         1378
 9       5.93          991
 10     51.33         8582
 11     51.33         8582
 12     40.10         6704
 13     54.60         9129
 14     39.61         6623
 15     40.49         6769  ,
           Column                                      Data_type  No_miss_Qty  \
 0      publisher            [<class 'NoneType'>, <class 'str'>]        24083
 1         genres  [<class 'NoneType'>, <class 'numpy.ndarray'>]        28852
 2       app_name            [<class 'NoneType'>, <class 'str'>]        32133
 3          title            [<class 'NoneType'>, <class 'str'>]        30085
 4            url            [<class 'NoneType'>, <class 'str'>]        32135
 5   release_date            [<class 'NoneType'>, <class 'str'>]        30068
 6           tags  [<class 'NoneType'>, <class 'numpy.ndarray'>]        31972
 7    reviews_url            [<class 'NoneType'>, <class 'str'>]        32133
 8          specs  [<class 'NoneType'>, <class 'numpy.ndarray'>]        31465
 9          price                                [<class 'str'>]       120445
 10  early_access           [<class 'NoneType'>, <class 'bool'>]        32135
 11            id            [<class 'NoneType'>, <class 'str'>]        32133
 12     developer            [<class 'NoneType'>, <class 'str'>]        28836

     %Missing  Missing_Qty
 0      80.00        96362
 1      76.05        91593
 2      73.32        88312
 3      75.02        90360
 4      73.32        88310
 5      75.04        90377
 6      73.46        88473
 7      73.32        88312
 8      73.88        88980
 9       0.00            0
 10     73.32        88310
 11     73.32        88312
 12     76.06        91609  ,
      Column                  Data_type  No_miss_Qty  %Missing  Missing_Qty
 0   user_id            [<class 'str'>]        25799       0.0            0
 1  user_url            [<class 'str'>]        25799       0.0            0
 2   reviews  [<class 'numpy.ndarray'>]        25799       0.0            0,
         Column                  Data_type  No_miss_Qty  %Missing  Missing_Qty
 0      user_id            [<class 'str'>]        88310       0.0            0
 1  items_count            [<class 'int'>]        88310       0.0            0
 2     steam_id            [<class 'str'>]        88310       0.0            0
 3     user_url            [<class 'str'>]        88310       0.0            0
 4        items  [<class 'numpy.ndarray'>]        88310       0.0            0]