In [1]:
import pandas as pd
import numpy as np
import pyarrow.parquet as pq
import pyarrow as pa

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 3, Finished, Available, Finished)

In [2]:
# Load data into pandas DataFrame from "/lakehouse/default/Files/Final_data/games_full.parquet"
df = pd.read_parquet("/lakehouse/default/Files/Final_data/games_full.parquet")
df.head()

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 4, Finished, Available, Finished)

,Item_id,Item_name,Platform,Genres,Release,Developer,Publisher,Rating,Global_Sales
0,1,Wii Sports,Nintendo Wii,Sports,2006,Nintendo,Nintendo,E,82.53
1,2,Super Mario Bros.,NES,Platform,1985,Nintendo,Nintendo,E,40.24
2,3,Mario Kart Wii,Nintendo Wii,Racing,2008,Nintendo,Nintendo,E,35.52
3,4,Wii Sports Resort,Nintendo Wii,Sports,2009,Nintendo,Nintendo,E,32.77
4,5,Pokemon Red/Pokemon Blue,GB,RPG,1996,Nintendo,Nintendo,E,31.38

In [3]:
#show unique values in Platform column
unique_plat = df['Platform'].unique()
print(unique_plat)

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 5, Finished, Available, Finished)

['Nintendo Wii' 'NES' 'GB' 'Nintendo DS' 'PC-STEAM' 'Xbox360' 'Sony PS3'
 'Sony PS2' 'SNES' 'GBA' 'Sony PS4' 'Nintendo 3DS' 'N64' 'Sony PS' 'XB'
 'PC' '2600' 'Sony PSP' 'Xbox One' 'Nintendo Wii U' 'GC' 'Sega Genesys'
 'Sega Dreamcast' 'Sony PS Vita' 'SAT' 'SCD' 'WS' 'NG' 'TG16' '3DO' 'GG'
 'PCFX']

In [4]:
platform = df[["Platform"]].drop_duplicates().reset_index(drop=True)
platform['Platform_id'] = platform.index + 1
order = ['Platform_id', 'Platform']
platform = platform[order]
platform

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 6, Finished, Available, Finished)

    Platform_id        Platform
0             1    Nintendo Wii
1             2             NES
2             3              GB
3             4     Nintendo DS
4             5        PC-STEAM
5             6         Xbox360
6             7        Sony PS3
7             8        Sony PS2
8             9            SNES
9            10             GBA
10           11        Sony PS4
11           12    Nintendo 3DS
12           13             N64
13           14         Sony PS
14           15              XB
15           16              PC
16           17            2600
17           18        Sony PSP
18           19        Xbox One
19           20  Nintendo Wii U
20           21              GC
21           22    Sega Genesys
22           23  Sega Dreamcast
23           24    Sony PS Vita
24           25             SAT
25           26             SCD
26           27              WS
27           28              NG
28           29            TG16
29           30             3DO
30           31              GG
31           32            PCFX

In [5]:
genres = df[["Genres"]].drop_duplicates().reset_index(drop=True)
genres['Genres_id'] = genres.index + 1
order = ['Genres_id', 'Genres']
genres = genres[order]
genres

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 7, Finished, Available, Finished)

     Genres_id             Genres
0            1             Sports
1            2           Platform
2            3             Racing
3            4                RPG
4            5             Puzzle
..         ...                ...
282        283                Mod
283        284           Assassin
284        285  Turn-Based Combat
285        286        Documentary
286        287           Tutorial

[287 rows x 2 columns]

In [6]:
games = df[['Item_id', 'Item_name']].drop_duplicates().reset_index(drop=True)
games

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 8, Finished, Available, Finished)

       Item_id                   Item_name
0            1                  Wii Sports
1            2           Super Mario Bros.
2            3              Mario Kart Wii
3            4           Wii Sports Resort
4            5    Pokemon Red/Pokemon Blue
...        ...                         ...
44131  1065230             Room of Pandora
44132  1065570                   Cyber Gun
44133  1065650            Super Star Blast
44134  1066700  New Yankee 7: Deer Hunters
44135  1069460                   Rune Lord

[44136 rows x 2 columns]

In [7]:
dev = df[["Developer"]].drop_duplicates().reset_index(drop=True)
dev['Developer_id'] = dev.index + 1
order = ['Developer_id', 'Developer']
dev = dev[order]
dev

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 9, Finished, Available, Finished)

       Developer_id              Developer
0                 1               Nintendo
1                 2                  Valve
2                 3    Good Science Studio
3                 4         Rockstar North
4                 5      Polyphony Digital
...             ...                    ...
19671         19672              MonteCube
19672         19673  Velvet Paradise Games
19673         19674            SHEN JIAWEI
19674         19675         Semyon Maximov
19675         19676       Adept Studios GD

[19676 rows x 2 columns]

In [8]:
publish = df[["Publisher"]].drop_duplicates().reset_index(drop=True)
publish['Publisher_id'] = publish.index + 1
order = ['Publisher_id', 'Publisher']
publish = publish[order]
publish

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 10, Finished, Available, Finished)

       Publisher_id                    Publisher
0                 1                     Nintendo
1                 2                        Valve
2                 3       Microsoft Game Studios
3                 4         Take-Two Interactive
4                 5  Sony Computer Entertainment
...             ...                          ...
15581         15582              Aurora software
15582         15583          Meatball Parm Games
15583         15584                    MonteCube
15584         15585        Velvet Paradise Games
15585         15586                  SHEN JIAWEI

[15586 rows x 2 columns]

In [9]:
rating = df[["Rating"]].drop_duplicates().reset_index(drop=True)
rating['Rating_id'] = rating.index + 1
order = ['Rating_id', 'Rating']
rating = rating[order]
rating

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 11, Finished, Available, Finished)

   Rating_id Rating
0          1      E
1          2   E10+
2          3      M
3          4   None
4          5      T
5          6     AO
6          7     RP

In [10]:
games_fact = df[['Item_id',	'Platform',	'Genres',	'Release',	'Developer',	'Publisher',	'Rating',	'Global_Sales']]
games_fact = games_fact.merge(platform, on='Platform', how='left')
games_fact = games_fact.merge(genres, on='Genres', how='left')
games_fact = games_fact.merge(dev, on='Developer', how='left')
games_fact = games_fact.merge(publish, on='Publisher', how='left')
games_fact = games_fact.merge(rating, on='Rating', how='left')
columns_to_drop = ['Developer', 'Platform', 'Genres', 'Rating', 'Publisher']
games_fact = games_fact.drop(columns_to_drop, axis=1)
games_fact['Release'] = pd.to_datetime(games_fact['Release'], format='%Y')
column_order = ['Item_id', 'Release', 'Platform_id', 'Genres_id', 'Developer_id', 'Publisher_id', 'Rating_id', 'Global_Sales']
games_fact = games_fact[column_order]
games_fact

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 12, Finished, Available, Finished)

,Item_id,Release,Platform_id,Genres_id,Developer_id,Publisher_id,Rating_id,Global_Sales
0,1,2006-01-01,1,1,1,1,1,82.53
1,2,1985-01-01,2,2,1,1,1,40.24
2,3,2008-01-01,1,3,1,1,1,35.52
3,4,2009-01-01,1,1,1,1,1,32.77
4,5,1996-01-01,3,4,1,1,1,31.38
...,...,...,...,...,...,...,...,...
113351,1066700,2019-01-01,5,33,7824,544,1,0.08
113352,1066700,2019-01-01,5,29,7824,544,1,0.08
113353,1069460,2019-01-01,5,11,19676,544,1,0.07
113354,1069460,2019-01-01,5,33,19676,544,1,0.07
113355,1069460,2019-01-01,5,29,19676,544,1,0.07

In [11]:
def save_to_pq(dfs, names):

    """
    Saves a DataFrame to a parquet file in a specific directory.
        Parameters:
        - df: DataFrame to save.
        - file_name: Name of the parquet file.
    """
    for df, name in zip(dfs, names):
        archivo = f'/lakehouse/default/Files/Final_data/Analytics/{name}.parquet'
        pq.write_table(pa.Table.from_pandas(df), archivo)
        print(f"DataFrame '{name}' save as '{archivo}'")

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 13, Finished, Available, Finished)

In [12]:
dfs = [games_fact, games, platform, genres, dev, publish, rating]
names = ['games_fact', 'games', 'platforms', 'genres', 'devs', 'publish', 'rating']

save_to_pq(dfs, names)

StatementMeta(, add2a145-1635-42d0-9ff7-edfb746737c3, 14, Finished, Available, Finished)

DataFrame 'games_fact' save as '/lakehouse/default/Files/Final_data/Analytics/games_fact.parquet'
DataFrame 'games' save as '/lakehouse/default/Files/Final_data/Analytics/games.parquet'
DataFrame 'platforms' save as '/lakehouse/default/Files/Final_data/Analytics/platforms.parquet'
DataFrame 'genres' save as '/lakehouse/default/Files/Final_data/Analytics/genres.parquet'
DataFrame 'devs' save as '/lakehouse/default/Files/Final_data/Analytics/devs.parquet'
DataFrame 'publish' save as '/lakehouse/default/Files/Final_data/Analytics/publish.parquet'
DataFrame 'rating' save as '/lakehouse/default/Files/Final_data/Analytics/rating.parquet'